@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.slick-vertical .slick-slide {
	border: none !important;
}
svg {
	border-radius: 0;
}
.action-link {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background: black;
	padding: 0 20px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease;
	transform: translateY(60px);
}
.new-card:hover .action-link {
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
}
