@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

*,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* overflow: hidden; */
	/* overflow-x: scroll; */
	/* color: #fff; */
}

body {
	/* background-color: #000; */
	overflow-x: hidden;
}
.dark {
	color: #fff;
	background-color: #000;
}
.light {
	color: #000;
	background-color: #fff;
}

/* .sideNav .ant-layout {
	background: none !important;
}

.sideNav .ant-layout-content {
	background: none !important;
} */
.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn {
	color: #e2211c;
	font-weight: 700;
	font-size: 20px;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: #e2211c;
	font-weight: 700;
}
.ant-tabs .ant-tabs-ink-bar-animated {
	background: #e2211c;
}
.ant-tabs .ant-tabs-tab-btn:first,
.ant-tabs .ant-tabs-tab-btn:active {
	color: #e2211c;
}
/* .ant-tabs-nav {
	background: #000 !important;
	margin-bottom: 0 !important;
} */
.ant-spin-dot i {
	background-color: #fff !important;
}
.ant-drawer-close {
	color: #e2211c !important;
}
